.embla {
  overflow: hidden;
  border-radius: 8px;
  max-width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
  aspect-ratio: 16/9;
}

.slideImage {
  object-fit: cover;
}

@media (max-width: 768px) {
  .embla__slide {
    aspect-ratio: 4/3;
  }
}
